@tailwind base;
@tailwind components;
@tailwind utilities;

.superFancyBlockquote {
    color: #999;
    font-family: 'Hoefler Text', Georgia, serif;
    font-style: italic;
    text-align: center;
  }
